h1{
    padding: 15px;
    text-align: center;
}
p{
    padding: px;
    text-align: center; 
    margin: 100px;
}

img{
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 450px;
    background-size: 100% 100%;
}

.active{
    display: block;
}