html {
    position: relative;
    min-height: 100%;
}
h1{
    text-align: center;
    padding: 10px;
}
p{
    text-align: center; 
    /*padding: px;
    margin: 100px;*/
}

img{
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 450px;
    background-size: 100% 100%;
}


.active{
    display: block;
}

.footer-basic {
    position: relative;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    text-align: center;
    background-color:#dfdfdf;
    color:#4b4c4d;
    margin-top: 50px;
}

