body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	
}



#productsTitle{ 
    text-align: left;
    margin: 5px 40px;
}

#filters {
	display: flex;
	margin: 15px 50px;
}


#product-cards {
	flex: 1 1 auto;
	width: 100%;
	margin: 10px;
	bottom: 150px;
	padding: 20px 5px 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


#product-cards .card{
	height: 300px;
	width: 415px;
	border: 2px solid #C0C0C0;
	display: inline-block;
	margin: 20px 20px;
	display: flex;
	flex-direction: column;


}


.card_image{
	max-width:  410px;
    max-height: 200px;
	position:relative; 
	justify-content: center;
	display:flex;
	padding: 10px 15px;
	flex: 1 1 auto;
}

.card_image img {
	width: 430px;
    height:220px;
	padding: 10px 15px;

}


.card_title {
	padding: 30px 15px 0px;
	font-weight: 700;
	color: #080808;
	flex: 0 0 30px;
}

.card_price{ 
	padding: 2px 15px;
	font-weight: 200;
	color: #333;
	flex: 0 0 20px;

}

/*
.footer-basic {

    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    text-align: center;
    background-color:#dfdfdf;
    color:#4b4c4d;
    margin-top: 50px;
    
}
*/

.footer-basic {

    position: relative;
    margin-top: 50px;
    height: 100px;
    width: 100%;
	bottom: 0;
    text-align: center;
	clear: both;
    background-color:#dfdfdf;
    color:#4b4c4d;

    
}

/* Extra Large Screens */
@media only screen and (max-width: 1199px) {
	.product-container {
		flex-direction: column;
		width: 900px;
	}
}

/* Medium/Large Screens */
@media only screen and (min-width: 750px) and (max-width: 1000px) {
	.product-container {
		width: 720px;
	}

	.product-cards .card {
		flex-basis: 330px;
		height: 330px;
	}
}

/* Small Screens */
@media only screen and (max-width: 749px) {
	.product-container {
		margin: 0 15px;
		width: calc(100% - 30px);
	}

	.product-cards {
		width: calc(100% - 50px);
	}

	.product-cards .card {
		height: 50px;
		flex-basis: 100%;
	}
}
